html{
  background-color: AliceBlue;
}

body {
	margin: 0px;
}

header h1{
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 0;
    margin-top:0;
  background-color: lightSkyBlue
  
}

header h1 a{
	color: black;
	text-decoration: none;
}

.navigationMenu a{
  color: white;
  text-decoration: none;
  font-size: 110%;
}

.navigationMenu a:hover{
  color: lightSkyBlue;
}

.navigationMenu{
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items:center;
  padding-bottom: 2vh;
  padding-top: 2vh;

  background-color: steelBlue;
}


#flexBody{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  
  
}





div#flexBody h1{
  margin-left: 5%;
  

}


.Item{
  margin-left: 7%;
  margin-bottom:10%;
  width: 80%;
}

.Azione{
  margin-left: 7%;
  margin-bottom:10%;
  width: 20%;
  margin-right: 7%;
}

div.Item:hover{
  background-color: lightblue;
  }

div.Item text{
  color: dimgrey;
  font-style: italic; 
  margin-left: 2%
}


#titolo{
  display: flex;
  align-items: center;
}

#titolo text{
  font-size: 80%;
  margin-top: 0.3%;
  margin-left: 1%
}



button{
  background-color: lightSkyBlue;
  border-color: steelBlue;
  width: 100%;
  font-size: 15px;
}


#elementoLista{
  display: flex;
  align-items: center;

}


div.Item a:link{
  color: black;
  text-decoration: none;
}

div.Item a:visited{
  color: black;
  text-decoration: none;
}

.filmLink{
  display: block;
  width: 100%;
}
  