#flexBody{
  display: flex;
  flex-direction: column;  
}

p{
  font-style: italic;
  font-size: large;
  padding: 0 20%;
}

.line{
  display:flex;
  align-items: baseline;
  gap: 10px;
  justify-content: center;
}


  

