
#flexBody{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  
  
}

div#flexBody h1{
  margin-left: 5%;
  margin-bottom: 2%;
  text-align: center;
}

p{
  margin-left:5%;
  font-style: italic;
  font-size: 17px;
  text-align: center;
}

.line{
  display:flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-left: 5%;
}

div.line{
  margin-bottom: -10px;
}


  

