body{
 text-align:center;
}

form{
  padding: 0 30%;
}

.campo {
  display:flex;
  margin-bottom: 2%;
  gap:3%;
}

form div{
  font-size:110%;
}

.spaced {
	margin-bottom: 30px !important;
}

.spaced-less {
	margin-bottom: 50px !important;
}


.slim-input {
	height: 70%;
}
