h1 {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 0;
  margin-top: 0;
  background-color: lightSkyBlue
  
}

form {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 6%;
}

form div{
  font-size: 150%;
}

input{
  width: 350px;
  text-align: center;
}

button{
  background-color: azure;
  border-radius: 40%;
  font-size: 70%;
  border-color: steelBlue;
}

button:hover{
  background-color: lightSkyBlue;
}

#flex {	
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 9%;
}

#tutti{
  margin-top: -13px;
}



