.titolo {
	color: #E00000;
	font-family: Lucida Handwriting;
}

.paragrafo {
	color: #E00000;
	font-family: Lucida Handwriting;
}

.paragrafo2 {
	color: brown;
	font-family: Lucida Handwriting;
	background-color: black;
}