.titolo {
	color: #E00000;
}

.paragrafo {
	color: #E00000;
	font-family: Lucida Handwriting;
}

.paragrafo2 {
	color: brown;
	font-family: Lucida Handwriting;
	background-color: black;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}