:root {
  --title-style: 'Sonsie One', cursive;
  --subtitle-style: 'Emblema One', cursive;
  --normal-style: 'Amiri', serif;
  --primary-color: steelBlue;
  --secondary-color: lightSkyBlue;
  --background-color: AliceBlue;
}

body {
	margin: 0px;
	background-color: var(--background-color);
	font-size: large;
	font-family: var(--normal-style);
}

header {
  text-align:center;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  opacity: 0.9 !important;
}

header > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
  text-align: center;
  background-image: url(../images/navbar-back-1.jpg);
  background-size: 100% 100%;
  
  
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom: 0;
  margin-top: 0;

  font-size: 6vh;
  font-family: var(--title-style);
  font-style: italic;
  letter-spacing: 15px;
}

header > h1 > a{
	color: black;
	text-decoration: none !important;
}

header > h1 > a:hover {
	text-shadow: 2px 2px 6px white;
	color: inherit !important;
}

#logo {
	border-radius: 100%;
	opacity: 0.9;
}

.navigationMenu {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items:center;
  padding-bottom: 2vh;
  padding-top: 2vh;

  background-color: var(--primary-color);
}

.navigationMenu a{
  color: white;
  text-decoration: none;
  font-size: 110%;
  
  font-family: var(--title-style);
}

.navigationMenu a:hover{
  color: lightSkyBlue;
}

.space-container { 
	margin-top: 30vh;
	padding: 0 5vh;
}

.title {
	font-size: xx-large;
	font-family: var(--title-style);
	margin-bottom: 2vh;
}

.subtitle {
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 2vh;
}

.small {
	font-size: small;
}

.rows {
	display:flex;
	justify-content: space-around;
	gap: 5%;
}

.columns {
	display:flex;
	flex-direction: column; 
	justify-content: space-between;
	gap: 5%;
}

.error {
	color: red;
	font-weight: bold;
}
 
.success {
	color: green;
	font-weight: bold;
}

.bottom-border {
	padding-bottom: 3vh;
	margin-bottom: 5vh;
	border-bottom: medium var(--primary-color) solid;
}

.center {
	text-align: center;
}

.our-button {
  background-color: var(--primary-color);
  border-radius: 100px;
}

.our-button:hover{
  background-color: lightSkyBlue;
}
	