<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ============================================================================ -->
<!-- 							HEADER FILES          							  -->
<!-- ============================================================================ -->

<!-- ============================================================================ -->
<!-- 							HEADER                  					      -->
<!-- ============================================================================ -->
<header th:fragment="navbar">
	<h1>CINEMA SIW</h1>
	<div class="navigationMenu">
		<div>
			<a href="/films"><strong> FILM </strong></a>
		</div>
		<div>
			<a href="/spettacoli"><strong> PROGRAMMAZIONE </strong></a>
		</div>
		<div>
			<a href=""><strong>CHI SIAMO</strong></a>
		</div>
		<div>
			<a th:unless="${userLoggato}" th:href="@{/login}"><strong>
					LOGIN </strong></a> <a th:if="${userLoggato}" th:href="@{/prenota}">PRENOTA</a>
		</div>
	</div>
</header>

<!-- ============================================================================ -->
<!-- 							FOOTER                  					      -->
<!-- ============================================================================ -->
<footer th:fragment="footer">
		<div id="footerFlex">
			<div> 
				<div><strong>Cinema Siw</strong></div>
				<div>Via della Vasca Navale, 79 - 00146 - Roma </div>
				<div><a href="tel:+39 3210456789">Tel. +39 3210456789</a></div> 
				<div><a href="mailto:info@michelincatering.it"> info@cinemasiw.it</a></div>
			</div>
		</div>
</footer>

</html>


