<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ============================================================================ -->
<!-- 							HEADER FILES          							  -->
<!-- ============================================================================ -->
<head th:fragment="bootstrap">

<!-- bootstrap core css -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<!-- ============================================================================ -->
<!-- 							HEADER                  					      -->
<!-- ============================================================================ -->
<header th:fragment="navbar">
	<h1>
		<a href="/">CINEMA</a>
		<a href="/">SIW</a>
	</h1>
	<div class="navigationMenu">
		<div>
			<a href="/film/all"><strong> FILM </strong></a>
		</div>
		<div>
			<a href="/spettacolo/all"><strong> PROGRAMMAZIONE </strong></a>
		</div>
		<div>
			<a href=""><strong>CHI SIAMO</strong></a>
		</div>
		<div>
		<a th:if="${userLoggato}" th:href="@{/user/prenota}"><strong>PRENOTAZIONI</strong></a>
			<a th:unless="${userLoggato}" th:href="@{/login}"><strong>LOGIN </strong></a>
			<a th:if="${userLoggato}" th:href="@{/logout}"><strong>LOGOUT</strong></a>
		</div>
	</div>
</header>

<!-- ============================================================================ -->
<!-- 							FOOTER                  					      -->
<!-- ============================================================================ -->
<footer th:fragment="footer">
	<div id="footerFlex">
		<div><strong>Cinema Siw</strong></div>
		<div>Via della Vasca Navale, 79 - 00146 - Roma </div>
		<div><a href="tel:+39 3210456789">Tel. +39 3210456789</a></div> 
		<div><a href="mailto:info@cinemasiw.it"> info@cinemasiw.it</a></div>
	</div>
</footer>

<!-- ============================================================================ -->
<!-- 							FILES .JS                  					      -->
<!-- ============================================================================ -->
<div th:fragment="jsFiles">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<!-- bootstrap js -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

</div>

</html>


