
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- da qui... -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Amiri&family=Mrs+Sheppards&family=Sonsie+One&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
<!-- a qui, copiare in ogni html -->
<title>Cinema Siw: Films</title>
<link rel="stylesheet" href="/films.css"></link>
</head>
<body>
	<header th:replace="fragments/layout.html :: navbar"></header>
	<div class="space-container">
		<div id="flexBody">
			<div class="bottom-border">
				<div class="title">
					I FILM IN PROGRAMMA
					<div th:if="${amministratoreLoggato}">
						<form th:action="@{/film/Form}" method="get">
							<button class="btn btn-primary our-button" type="submit">+
								Aggiungi</button>
						</form>
					</div>
				</div>
			</div>
			<div class="elementoLista" th:each="film : ${films}">
				<div class="item">
					<a th:href="@{'/film' + '/' + ${film.id}}" class="filmLink"> <span
						class="subtitle" th:text="${film.titolo}">titolo film</span><br />
						<span class="text" th:text="${film.descrizione}">descrizione</span>
					</a>
				</div>
				<div class="azione" th:if="${amministratoreLoggato}">
					<form th:action="@{'/film/deleteForm' + '/' +${film.id}}"
						method="get">
						<button class="btn btn-primary our-button" type="submit">Elimina</button>
					</form>
				</div>
				<div class="azione" th:if="${userLoggato}">
					<form th:action="@{'/user/prenotazione/film'+'/'+ ${film.id}}"
						method="get">
						<button class="btn btn-primary our-button" type="submit">Prenota</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/layout.html :: footer"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>