<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cinema Siw</title>
<link rel="stylesheet" href="/film.css"></link>
<link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
</head>
<body>
	<header th:replace="fragments/layout.html :: navbar"></header>
	
	<div id="flexBody">
		<h1 th:text="${film.titolo}">titolo</h1>
		<hr width="92%" color="steelBlue" size="5%"></hr>
		<p th:text="${film.descrizione}">descrizione film brellissimo ecc
			eccecc</p>
		<div class="line">
			<h4>GENERE:</h4>
			<text th:text="${film.genere}">genere </text>
		</div>
		<div class="line">
			<h4>REGISTA:</h4>
			<text th:text="${film.regista}">nome del regista </text>
		</div>
	</div>
	
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>