<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Films</title>
</head>
<body>
	<h1>Elenco Film:</h1>
	<table>
		<tr>
			<th>Titolo</th><th>Descrizione</th>
		</tr>
		<tr th:each="film : ${films}">
			<td th:text="${film.titolo}">Titolo</td>
			<td th:text="${film.descrizione}">Descrizione</td>
			<td><a href="film.html" th:href="@{'/film' + '/' + ${film.id}}"
				th:text="dettagli">dettagli</a></td>
			<td><a href="film.html"
				th:href="@{'/toDeleteFilm' + '/' +${film.id}}" th:text="cancella">cancella</a>
			</td>
			<td> <a th:href="@{'/prenotazione'+'/'+ ${film.id}}"/> </td>
			
	</table>
	<footer>
		<a href="/">Home</a>
	</footer>
</body>
</html>
