<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Cinema Siw</title>
	<link rel="stylesheet" href="/index.css"></link>
	<link rel="stylesheet" href="/navigationBar.css"></link>
	<link rel="stylesheet" href="/footer.css"></link>
</head>
<body>
	<header th:replace="fragments/layout.html :: navbar"></header>
	
	<form th:action="@{/film/nome}" method="get">
		<div>Che film vuoi vedere?</div>
		<input name="nome" placeholder="Inserisci il nome di un film" required></input>
		<div>
			<button type="submit">Cerca</button>
		</div>
		<div th:if="${isFilmInesistente}" th:text="#{film.inesistente}"></div>
	</form>
	
	<a th:href="@{/films}"><button>Tutti i film</button></a>
	
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>