<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cinema Siw</title>
<link rel="stylesheet" href="/login.css"></link>
<link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
</head>

<body>
	<header th:replace="fragments/layout.html :: navbar"></header>
	<h1>Login</h1>
	
	<form th:action="@{/login}" method="post">
		<div class="campo">
			username:<input type="text" name="username" />
		</div>
		<div class="campo">
			password:<input type="password" name="password" />
		</div>
		<button type="submit">Conferma</button>
		<div th:if="${error}">
			<p>Errore durante l'autenticazione</p>
		</div>
	</form>
		
	<div>Non sei ancora Registrato? Fallo subito!</div>
	<a th:href="@{/register}"><strong>Registrati</strong></a>
	
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>