<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <title>Cinema Siw</title>
  <link rel="stylesheet" href="/form.css" ></link>
  <link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
 </head>
<body>
<header th:replace="fragments/layout.html :: navbar"></header>
  <h1> Seleziona lo spettacolo che preferisci </h1>
	<form th:action="@{/prenotazione}" method="post" th:object="${prenotazione}">
	<select th:field="*{spettacolo}">
		<option  th:each="spet : ${spettacoli}" th:value="${spet.id}" th:text="${spet.dataConOra}+' '+${spet.sala.nome}"></option>
		</select> </div>	
    <button type="submit">Conferma</button>
	</form>
	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>