<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <title>Cinema Siw</title>
  <link rel="stylesheet" href="/riepilogoPrenotazione.css" ></link>
  <link rel="stylesheet" href="/noImageBar.css"></link>
  <link rel="stylesheet" href="/footer.css"></link>
 </head>
<body>
<header th:replace="fragments/layout.html :: navbar"></header>
<h2>RIEPILOGO PRENOTAZIONE </h2>

  <h5 div th:text="${prenotazione.spettacolo.film.titolo}"> titolo del film </h5>
  <h6 th:text="'SALA '+${prenotazione.spettacolo.sala.nome}"+', '+ ${prenotazione.spettacolo.dataConOra}> SALA 4, 21/07/22 14:30 </h6>
<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>