<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: bootstrap">
<head>
<meta charset="utf-8">
<title>Cinema Siw</title>
 <link rel="stylesheet" href="/prenotazioniPerUtente.css"></link>
<link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
</head>
<body>
	<header th:replace="fragments/layout.html :: navbar"> </header>
	<section>
		<div>
			<h1>Elenco delle tue prenotazioni</h1>
		</div>
		<br>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nome film</th>
					<th scope="col">Data e ora spettacolo</th>
					<th scope="col">Sala</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="prenotazione: ${prenotazioni}">
					<td th:text="${prenotazione.spettacolo.film.titolo}"></td>
					<td th:text="${prenotazione.spettacolo.dataConOra}"></td>
					<td th:text="${prenotazione.spettacolo.sala.nome}"></td>
				</tr>
			</tbody>
		</table>
	</section>
	
	<footer th:replace="fragments/layout.html :: footer"></footer>
 <div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>