<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <title>Cinema Siw</title>
  <link rel="stylesheet" href="/registrationSuccessfull.css" ></link>
  <link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
 </head>
<body>
<header th:replace="fragments/layout.html :: navbar"></header>
  <div id="message">
  <h1>Congratulazioni!</h1>
  <text>Registrazione completata con successo.</text>
  </div>
  <footer th:replace="fragments/layout.html :: footer"></footer>
  </body>

</html>