<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Amiri&family=Mrs+Sheppards&family=Sonsie+One&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
<title>Cinema Siw</title>
<link rel="stylesheet" href="/form.css"></link>
</head>

<body>
	<header th:replace="fragments/layout.html :: navbar"></header>

	<div class="space-container">
		<div class="title bottom-border">Aggiungi Spettacolo</div>

		<form class="rows" th:action="@{/film}" method="POST"
			th:object="${spettacolo}">
			<div class="columns spaced-less">
				<div>Data e ora:</div>
				<div>Film:</div>
				<div>Sala:</div>
			</div>
			<div class="form-group columns spaced">
				<div class="rows">
					<input class="form-control slim-input" type="text" placeholder=""
						required th:field="*{dataConOra}" /> <span class="error small"
						th:if="${#fields.hasErrors('dataConOra')}" th:errors="*{dataConOra}"></span>
				</div>
				<div class="rows">
					<input class="form-control slim-input" type="text" placeholder=""
						required th:field="*{film}" /> <span class="error small"
						th:if="${#fields.hasErrors('film')}"
						th:errors="*{film}"></span>
				</div>
				<div class="rows">
					<input class="form-control slim-input" type="text" placeholder=""
						required th:field="*{sala}" /> <span class="error small"
						th:if="${#fields.hasErrors('sala')}" th:errors="*{sala}"></span>
				</div>
				<div>
					<button class="btn btn-primary our-button" type="submit">Aggiungi</button>
				</div>
			</div>
		</form>

	</div>

	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>

</html>