<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- da qui... -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Amiri&family=Mrs+Sheppards&family=Sonsie+One&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
<!-- a qui, copiare in ogni html -->
<title>Cinema Siw: Spettacoli</title>
<link rel="stylesheet" href="/spettacoli.css"></link>
</head>
<body>
	<div class="space-container">
		<header th:replace="fragments/layout.html :: navbar"></header>
		<div class="row bottom-border">
		<div class="title">
			TUTTI GLI SPETTACOLI <span th:if="${film}" th:text="' DISPONIBILI PER ' + ${film.titolo}"></span>:
		</div>
		<div  th:if="${amministratoreLoggato}">
					<form th:action="@{/spettacolo}" method="get">
						<button class="btn btn-primary our-button" type="submit">+ Aggiungi</button>
					</form>
					</div>
				</div>	
		<div class="success" th:if="${prenotazioneRiuscita}" 	th:text="#{prenotazione.riuscita}"></div>
		<div class="error" th:if="${prenotazioneFallita}" th:text="#{prenotazione.fallita}"></div>
		<br>
		<ul>
			<li th:each="sp : ${allSpettacoli}">
				<span class="subtitle" th:text="${sp.film.titolo}"></span>
				<span th:text="': sala ' + ${sp.sala.nome} + ' , il giorno ' + ${sp.dataConOra} + ' con ' + ${sp.numeroPosti} + ' posti disponibili' "></span>
				<a th:if="${userLoggato}" th:href="@{'/user/prenotazione/add/' + ${sp.id}}">
					<button class="btn btn-primary our-button" type="submit">Prenota</button>
				</a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/layout.html :: footer"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>