<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <title>Cinema Siw</title>
  <link rel="stylesheet" href="/spettacoli.css" ></link>
 </head>
<header>
   <h1> <a  href="/">CINEMA SIW</a> </h1>
  <div class="navigationMenu">
     <div><a  href="/films"><strong> FILM </strong></a></div>
    <div><a><strong> PROGRAMMAZIONE </strong></a></div>
    <div><strong>CHI SIAMO</strong></a> </div>
    <div><a  th:unless="${userLoggato}"th:href="@{/login}"><strong> LOGIN </strong></a>
  	<a th:if="${userLoggato}" th:href="@{/prenota}">PRENOTA</a></div>
 </div>
</div>
</header>
<body>
  <h2>Tutti gli spettacoli:</h2>
  <ul>
		<li th:each="sp : ${allSpettacoli}" 
		th:text="${sp.film.titolo} + ': sala ' + ${sp.sala.nome} + ' , il giorno ' + ${sp.dataConOra} 
		+ ' con ' + ${sp.numeroPosti} + ' posti disponibili' ">bxnmwokxmw zxmkwmxx lw x xksnxzkzm
	</ul>
  </body>
<footer>
  <div id="footerFlex">
  <text><strong>Cinema Siw</strong></text>
  <text>Via della Vasca Navale, 79 - 00146 - Roma </text>
  <a  href="tel:+39 3210456789">Tel. +39 3210456789</a>
  <a href="mailto:info@michelincatering.it"> info@cinemasiw.it</a>
</div>
</footer>
</html>