<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cinema Siw</title>
<link rel="stylesheet" href="/spettacoli.css"></link>
<link rel="stylesheet" href="/noImageBar.css"></link>
<link rel="stylesheet" href="/footer.css"></link>
</head>
<body>
	<header th:replace="fragments/layout.html :: navbar"></header>
	<h2>Tutti gli spettacoli <span th:if="${film}" th:text="' disponibili per ' + ${film.titolo}"></span>:</h2>
	<div th:if="${prenotazioneRiuscita}" th:text="#{prenotazione.riuscita}"></div>
	<div th:if="${prenotazioneFallita}" th:text="#{prenotazione.fallita}"></div>
	<ul>
		<li th:each="sp : ${allSpettacoli}">
			<span th:text="${sp.film.titolo} + ': sala ' + ${sp.sala.nome} + ' , il giorno ' + ${sp.dataConOra} + ' con ' + ${sp.numeroPosti} + ' posti disponibili' "></span>
			<a th:if="${userLoggato}" th:href="@{'/user/prenotazione/add/' + ${sp.id}}">Prenota</a>
		</li>
	</ul>

	<footer th:replace="fragments/layout.html :: footer"></footer>
</body>
</html>